*.pt
*.txt
*.png
*.gif
*.pyc
*.zip
/dataset
.idea
*.rar
slurm_*.out
slurm_*.err
*.gz
*.pickle
/venv
/Pascal_VOC
/data/MNIST
/tb_logs
**/wandb/
/fruit_recognition_dataset
/fruit_recognition_dataset_oneFruit
/LM_align/synthData/**/*.png
/LM_align/synthData/**/*.json
PIPELINE_EVAL/

